{% extends "admin/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Posts</h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {% for post in pagination.items %}
          <tr class="{% if not post.visible %}warning{% endif %}">
            <td width="1%">
              <a class="text-danger" href="#" onclick="deletePost({{ post.id }}, '{{ post.title }}', '{{ url_for('.delete_post', id=post.id) }}')">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
            <td><a href="{{ url_for('.edit_post', id=post.id) }}">{{ post.title|safe }}</a></td>
            <td>{{ post.created|datetime }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if pagination.pages > 1 %}
      <ul class="pagination">
        {% if pagination.has_prev %}
          <li><a href="{{ url_for('.posts', page=pagination.page-1) }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <li><a href="{{ url_for('.posts', page=page) }}">{{ page }}</a></li>
            {% else %}
              <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
            {% endif %}
          {% else %}
            <li class="disabled"><a href="#">...</a></li>
          {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
          <li><a href="{{ url_for('.posts', page=pagination.page+1) }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
function deletePost(id, title, url) {
  if (confirm("Delete post '" + title + "'?")) {
    window.location.href = url;
  }
}
</script>
{% endblock %}
