{% extends "admin/layout.html" %}

{% block content %}
  <div class="module">
    {% if user %}
      {% set num_posts = user.posts|length %}
      <h1>{{ num_posts }} post{{ num_posts|pluralize }} by {{ user.name }}</h1>
    {% else %}
      <h1>Posts</h1>
      <a href="{{ url_for('admin.new_post') }}" class="button push">New Post</a>
    {% endif %}
  </div>
  <div class="module">
    <table>
      <thead>
        <tr>
          <th width=10px></th>
          <th>Title</th>
          <th>Author</th>
          <th>Comments</th>
          <th>Published</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td><a href="{{ url_for('admin.delete_post', slug=post.slug) }}"><span class="iconic x"></span></a></td>
            <td><a href="{{ url_for('admin.edit_post', slug=post.slug) }}">{{ post.title|safe }}</a></td>
            <td><a href="{{ url_for('admin.edit_user', name=post.author.name) }}">{{ post.author.name }}</a></td>
            <td><a href="{{ url_for('admin.post_comments', slug=post.slug) }}">{{ post.comments|length }}</a></td>
            <td><span class="mono">{{ post.published|datetime }}</span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
