{% extends "admin/layout.html" %}

{% block content %}
  <h1 class="mega"><span class="page-header">New Post</span></h1>

  {% from "macro/form.html" import render_field, render_button %}
  <form method="post" action="{{ url_for('admin.new_post') }}">
      {{ form.csrf_token }}
      <ul class="form">
        <li>{{ render_field(form.title) }}</li>
        <li>{{ render_field(form.body, rows="12") }}</li>
        <li class="checkbox">{{ render_field(form.visible) }}</li>
        <li>{{ render_button('Save') }}</li>
      </ul>
  </form>
{% endblock %}
