{% extends "admin/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>{% block page_header %}{% endblock %}</h1>
    </div>
    {% from "macro.html" import render_field %}
    <form role="form" method="POST" action="{% block action %}{% endblock %}">
      {{ form.csrf_token }}
      {{ render_field(form.title) }}
      {{ render_field(form.markup) }}
      {{ render_field(form.visible) }}
      <button class="btn btn-primary" type="submit">{% block submit_name %}{% endblock %}</button>
    </form>
  </div>
</div>
{% endblock %}
