{% extends "admin/layout.html" %}

{% block content %}
  <h1 class="mega"><span class="page-header">Change Password</span></h1>

  {% from "macro/form.html" import render_field, render_button %}
  <form method="post" action="{{ url_for('profile.change_password') }}">
    {{ form.csrf_token }}
    <ul class="form">
      <li>{{ render_field(form.password) }}</li>
      <li>{{ render_field(form.new_password) }}</li>
      <li>{{ render_field(form.confirm) }}</li>
      <li>{{ render_button('Update') }}</li>
  </form>
{% endblock %}
