@import "color";
@import "compass";
@import "typography";

@mixin button-base($bg) {
    @include border-radius;
    @include adjust-font-size-to(14px);

    font-family: $font;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    background: $bg;
    color: $fg-color;
    padding: 0.5em 1.5em;
    border: none;
    display: inline-block;

    &:hover, &:focus {
        color: $fg-color-light;
        background-color: darken($bg, 3%);
    }
}

.button {
    @include button-base($bg-color-dark);
}

.button.primary {
    @include button-base(darken($primary-color, 5%));
}

.button.secondary {
    @include button-base($secondary-color);
}
