$bg-color: #262626;
$bg-color-dark: #212121;
$fg-color: #BFBFB8;
$fg-color-light: lighten($fg-color, 12%);

$primary-color: #498C8C;
$secondary-color: #8C4949;

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

pre code {
    background: none;
}

h1, h2, h3 {
    a {
        @include link-colors(
            $fg-color,
            $fg-color-light,
            $fg-color,
            $fg-color,
            $fg-color);
    }
}
