@import "color";
@import "compass";

form {
    small {
        display: block;
        color: $secondary-color;
    }
}

input, textarea {
    @include border-radius;
    @include box-sizing(border-box);

    resize: vertical;
    width: 100%;
    padding: 0.5em 0.5em;

    border: 1px solid darken($bg-color, 5%);
    background: $bg-color-dark;
    color: $fg-color;
}

input[type="checkbox"] {
    width: auto;
    display: block;
}
