@import "color";
@import "susy";

nav {
    color: $fg-color;
    background-color: $bg-color-dark;
    padding: 1em;

    .items {
        @include container;
        text-align: left;
        .item {
            padding-right: 1em;
        }
    }

    a {
        color: $fg-color;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            color: $fg-color-light;
        }
    }
}
