@import "compass/typography";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

$relative-font-sizing   : true;
$base-font-size         : 16px;
$base-line-height       : 22px;
@include establish-baseline;

$font: 'Droid Sans', sans-serif;
$code-font: 'Droid Sans Mono', monospace;

.uppercase {
    text-transform: uppercase;
}

body {
    font-family: $font;
    font-weight: 400;
}

pre code {
    @include border-radius;
    @include adjust-font-size-to(14px);
    font-family: $code-font;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

input, textarea {
    @include adjust-font-size-to(14px);
    font-family: $font;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: $font;
    font-weight: 700;
    margin: 0;
    padding: 0;

    small {
        font-size: 60%;
        font-style: italic;
    }
}

h1 {
    @include adjust-font-size-to(32px);
}

h2 {
    @include adjust-font-size-to(24px);
}

h3 {
    @include adjust-font-size-to(18px);
}

small {
    @include adjust-font-size-to(14px);
}
