@import "base";
@import "compass";
@import "compass/layout/sticky-footer";
@import "button";
@import "color";
@import "form";
@import "nav";
@import "typography";

@include sticky-footer(10em, '#wrap', '#wrap_footer', 'footer');

header footer {
    clear: both;
}

header {
    @include padding-leader(1);
    @include container;
}

footer {
    background: $bg-color-dark;
}

html body {
    height: 100%;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    background: $bg-color;
    color: $fg-color;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $fg-color;
    margin: 1em 0;
    padding: 0;
}

img, object {
    @include border-radius;
    max-width: 100%;
    border: 2px solid $bg-color-dark;
}

table {
    width: 100%;
    th {
        text-align: left;
    }
}

ul.horizontal {
    @include horizontal-list;
}

ul.unstyled {
    list-style: none;
}

.squish {
    padding: 0;
    margin: 0;
}

.push {
    @include margin-leader(0.8);
    @include margin-trailer(1);
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.panel {
    @include border-radius;
    @include margin-trailer(0.8);
    padding: 0.8em;
    background-color: $bg-color-dark;
}

blockquote {
    border-left-style: solid;
    border-width: 0.5em;
    border-color: $bg-color-dark;
    padding-left: 1em;
    cite {
        @extend small;
        display: block;
        font-style: italic;
    }
}

@mixin logo-base($fg, $bg) {
    @include border-radius;

    color: $fg;
    background-color: $bg;
    padding-left: 1em;

    a {
        color: $bg-color;

        &:hover, &:focus {
            color: $fg-color;
        }
    }
}

#logo {
    @include logo-base($bg-color, $primary-color);
}

#login-logo {
    @include logo-base($fg-color, $bg-color-dark);
}

#content {
    @include container;
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
}

#about {
    @include padding-leader(1);
    @include span-columns(5, 10);
}

#code {
    @include padding-leader(1);
    @include span-columns(5 omega, 10);
}

#post-meta {
    border: 0;
    border-bottom: 1px solid $fg-color;
}
