{% macro render_field(field) %}
  {% if field.type != 'HiddenField' and field.type != 'BooleanField' %}
    {{ field.label }}
    {{ render_field_errors(field) }}
  {% endif %}

  {{ field(**kwargs)|safe }}

  {% if field.type == 'BooleanField' %}
    {{ field.label }}
  {% endif %}
{% endmacro %}


{% macro render_field_errors(field) %}
  {% for error in field.errors %}
    <small>{{ error }}</small>
  {% endfor %}
{% endmacro %}


{% macro render_button(value='Submit') %}
  <button class="btn" type="submit">{{ value }}</button>
{% endmacro %}
