{% macro render_posts(posts) %}
  {% for post in posts %}
    {{ render_post(post) }}
  {% endfor %}
{% endmacro %}


{% macro render_post(post) %}
  <article>
    <h1 class="mega"><a href="{{ url_for('frontend.detail', slug=post.slug) }}">{{ post.title|safe }}</a></h1>
    {{ post.body|markdown }}
  </article>
{% endmacro %}


{% macro render_post_form(form, action, button_label) %}
  {% from "macro/form.html" import render_field, render_button_primary %}
  <form method="post" action="{{ action }}">
    {{ form.csrf_token }}
    {{ render_field(form.prev_title) }}
    {{ render_field(form.title) }}
    {{ render_field(form.body, rows="12") }}
    {{ render_field(form.visible) }}
    {{ render_button_primary(button_label) }}
  </form>
{% endmacro %}


{% macro render_archive(posts, macro_post_render) %}
  <ul class="unstyled">
    {% for post in posts %}
      {% set ny = post.published.year %}
      {% set nm = post.published.month %}
      {# render only year and month combination once #}
      {% if loop.first or (ny != y and nm != m) %}
        {% set y = ny %}
        {% set m = nm %}
        <li>
          <h1>{{ y }} {{ m|month_name }}</h1>
          {# render all posts in this year and month #}
          <ul>
            {% for post in posts if post.published.year == y and post.published.month == m %}
              {% set d = post.published.day %}
              <li>
                {{ macro_post_render(post) }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}


{% macro render_archive_post(post) %}
    <a href="{{ url_for('frontend.detail', slug=post.slug) }}">{{ post.title }}</a>
{% endmacro %}


{% macro render_archive_post_admin(post) %}
  <ul class="horizontal">
    <li><a href="{{ url_for('admin.delete_post', slug=post.slug) }}"><span class="iconic x" /></a></li>
    <li><a href="{{ url_for('admin.edit_post', slug=post.slug) }}">{{ post.title }}</a></li>
    {% set num_comments = post.comments|length %}
    {% if num_comments > 0 %}
      <li><a href="{{ url_for('admin.post_comments', slug=post.slug) }}">{{ num_comments }}</a></li>
    {% endif %}
  </ul>
{% endmacro %}
