{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}

{% block body %}
  <header>
    <div class="container">
      <nav id="menu">
        <section class="items">
          <a href="{{ url_for('frontend.blog') }}">Blog</a>
          <a href="{{ url_for('admin.overview') }}">Overview</a>
          <a href="{{ url_for('user.overview') }}">User</a>
          <a href="{{ url_for('post.overview') }}">Post</a>
        </section>
      </nav>
      <nav id="auth">
      <a href="{{ url_for('profile.view') }}"><i class="icon-user"></i></a>
          <a class="last" href="{{ url_for('auth.logout') }}"><i class="icon-signout"></i></a>
      </nav>
    </div>
  </header>

  <section id="content">
    {% block content %}{% endblock %}
  </section>
{% endblock %}
