{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}

{% block body %}
  <nav>
    <section class="items">
      <a class="item" href="{{ url_for('frontend.blog') }}">Blog</a>
      <a class="item" href="{{ url_for('admin.overview') }}">Overview</a>
      <a class="item" href="{{ url_for('admin.users') }}">User</a>
      <a class="item" href="{{ url_for('admin.posts') }}">Post</a>
      <a class="right block" href="{{ url_for('admin.logout') }}">Logout</a>
      <a class="item right block" href="{{ url_for('admin.profile') }}">{{ current_user.name }}</a>
    </section>
  </nav>
  <section id="content">
    {% block content %}{% endblock %}
  </section>
{% endblock %}
