{% extends "base.html" %}

{% block body %}
  <div id="wrap">
    <header>
      <div id="login-logo">
        <h1><span class="iconic key_fill" /> Admin Login</h1>
      </div>
    </header>

    <section id="content">
      {% from "macro/form.html" import render_field, render_button %}
      <form method="post" action="{{ url_for('admin.login') }}">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.remember) }}
        {{ render_button('Login') }}
      </form>
    </section>

    <div id="wrap_footer">
    </div>
  </div>
{% endblock %}
