{% extends "frontend/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    {% from "macro.html" import render_post %}
    {% for post in pagination.items %}
      {{ render_post(post) }}
      <div id="post-separator">
        <hr>
      </div>
    {% endfor %}

    <div id="post-pagination" class="text-center">
      <a class="btn btn-default" {% if pagination.has_prev %}href="{{ url_for('blog', page=pagination.prev_num) }}"{% else %}href="#" disabled="disabled"{% endif %}>Previous</a>
      <a class="btn btn-default" {% if pagination.has_next %}href="{{ url_for('blog', page=pagination.next_num) }}"{% else %}href="#" disabled="disabled"{% endif %}>Next</a>
    </div>
  </div>
</div>
{% endblock %}
