{% extends "base.html" %}

{% block body %}
  <div id="wrap">
    <header>
      <div id="logo">
        <h1><a href="{{ url_for('frontend.blog') }}"><span class="iconic eye"></span> Flask-Blog</a></h1>
      </div>
      <div class="left uppercase">
        Powered by <a href="http://compass-style.org">Compass</a>, <a href="http://flask.pocoo.org">Flask</a>, <a href="http://softwaremaniacs.org/soft/highlight/en">Highlight</a>, <a href="http://somerandomdude.com/work/iconic">Iconic</a>, <a href="http://sass-lang.com">Sass</a>, <a href="http://susy.oddbird.net">Susy</a> and <a href="http://www.vim.org">Vim</a>
      </div>
      <div class="right uppercase">
        <a href="{{ url_for('frontend.archive') }}">Archive</a>
      </div>
    </header>

    <section id="content">
      {% block content %}{% endblock %}
    </section>

    <div id="wrap_footer">
    </div>
  </div>

  <footer>
    <section class="container">
      <div id="about">
        <h3><span class="iconic user" /> About</h3>
        I started this project to learn Python and Flask but was also interested to see how much web development has changed since I last coded some PHP back in 2003.
      </div>
      <div id="code">
        <h3><span class="heart_fill" /> Code</h3>
        The code is open source and available at <a href="https://github.com/mharrys/flask-blog">GitHub</a>.
      </div>
    </section>
  </footer>
{% endblock %}
