{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/frontend.css">
{% endblock css %}

{% block body %}
  <div id="wrap">
    <header>
      <div class="container">
        <h1>
          <a href="{{ url_for('frontend.blog') }}">blog</a>
        </h1>
        <nav>
          <a href="{{ url_for('frontend.archive') }}">Archive</a>
          <a href="#">Tags</a>
        </nav>
      </div>
    </header>

    <section id="content">
      {% block content %}{% endblock %}
    </section>

    <div id="wrap_footer">
    </div>
  </div>

  <footer>
    <div id="footer-border">
      <p>This blog is <strong>open source</strong> and available at <a href="https://github.com/mharrys/flask-blog">GitHub <i class="icon-github"></i></a></p>
    </div>
  </footer>
{% endblock %}
