{% extends "admin/layout.html" %}

{% block content %}
  <h1 class="mega"><span class="page-header">User</h1>

  <a class="btn" href="{{ url_for('admin.new_user') }}">New User</a>

  <h1>User list</h1>
  {% set num_users = users.count() %}
  <p><span class="brand">{{ num_users }}</span> registered user{{ num_users|pluralize }}.</p>

  {% for user in users %}
    <a class="link-color-only" href="{{ url_for('admin.delete_user', name=user.name) }}"><i class="icon-remove"></i></a> {{ user.name|e }}
  {% endfor %}
{% endblock %}
