{% extends "admin/layout.html" %}

{% block content %}
  {% set num_users = users.count() %}
  <h1>{{ num_users }} User{{ num_users|pluralize }}</h1>

  <div class="push">
    <a href="{{ url_for('admin.new_user') }}" class="button secondary">New User</a>
  </div>

  {% for user in users %}
    <section class="panel">
      <a href="{{ url_for('admin.edit_user', name=user.name) }}">{{ user.name|e }}</a>
      <a class="right block" href="{{ url_for('admin.delete_user', name=user.name) }}"><span class="iconic x" /></a>
    </section>
  {% endfor %}
{% endblock %}
