{% extends "admin/layout.html" %}

{% block content %}
  <h1 class="mega"><span class="page-header">New User</span></h1>

  {% from "macro/form.html" import render_field, render_button %}
  <form method="post" action="{{ url_for('user.new') }}">
    {{ form.csrf_token }}
    <ul class="form">
      <li>{{ render_field(form.name) }}</li>
      <li>{{ render_field(form.password) }}</li>
      <li>{{ render_field(form.confirm) }}</li>
      <li>{{ render_button('Register') }}</li>
    </ul>
  </form>
{% endblock %}
