<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Flask-Blog</title>
  <link rel="stylesheet" href="/static/css/normalize.css" />
  <link rel="stylesheet" href="/static/icon/iconic fill/iconic_fill.css" />
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/zenburn.min.css">
  <link rel="stylesheet" href="/static/css/screen.css" />
</head>
<body>
  {% block body %}{% endblock body %}
  <script src="/static/js/jquery.min.js"></script>
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  {% block script %}{% endblock script %}
</body>
</html>
