{% extends "layout.html" %}

{% block content %}
  <div class="row">
    {% for post in pagination.items %}
        <div class="col-lg-12">
          <div id="post-headline">
            <h1><a href="{{ url_for('detail', slug=post.slug) }}">{{ post.title|safe }}</a></h1>
          </div>
          <div id="post-meta">
            <p>Posted on {{ post.published }}</p>
          </div>
          <div id="post-body">
            {{ post.body|markdown }}
          </div>
        </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-lg-12">
      {% if pagination.has_prev %}
          <a class="btn btn-default" href="{{ url_for('blog', page=pagination.prev_num) }}">Previous</a>
      {% endif %}
      {% if pagination.has_next %}
          <div class="pull-right">
            <a class="btn btn-default" href="{{ url_for('blog', page=pagination.next_num) }}">Next</a>
          </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
