{% extends "frontend/layout.html" %}

{% block content %}
  {% for post in pagination.items %}
    <article>
      <h1 class="mega"><a href="{{ url_for('detail', slug=post.slug) }}">{{ post.title|safe }}</a></h1>
      {{ post.body|markdown }}
    </article>
  {% endfor %}

  <section id="pagination">
    {% if pagination.has_prev %}
      <a id="pagination-prev" href="{{ url_for('blog', page=pagination.prev_num) }}">Previous</a>
    {% endif %}
    {% if pagination.has_next %}
      <a id="pagination-next" href="{{ url_for('blog', page=pagination.next_num) }}">Next</a>
    {% endif %}
  </section>
{% endblock %}
