ul
  > li
    padding-bottom: em(10px)
  > li:last-child
    padding-bottom: 0

  &.horizontal
    +horizontal-list

  &.unstyled
    +no-bullets
    padding-left: 0
    ul > li
      padding-left: em(10px)

  &.form
    list-style: none
    margin: 0
    padding-left: 0
    label
      display: block
    > li
      margin-bottom: em(10px)
    > li:last-child
      margin-bottom: 0
    // place label above input field
    .checkbox label
      display: inline-block
